<h1> Projeto de para armazenamento de materiais industriais </h1>

Nos dias de hoje o tempo é uma das variáveis mais importante que existem para qualquer negócio funcionar bem. Porque é nela
que que 100% das empresas se basea para sobreviver. Nesse pontos as empresas estão sempre tentando economizar tempos em geral, exemplos: tempo de entrega rádipido, velocidade em executar tarefas, tempo em organizar e planejar serviços, tempo de espera mínimo e outros. Portanto executar a qualquer atividade com menos tempo possível e efetivo é a chave de qualquer negócio, porque isso irá gera lucro final, satisfação do cliente e consequentimente uma satisfação do dono ou empregado. <p>
Nas industrias siderurgicas não é diferente, dentro dessas megas empresas o controle de materiais e equipamento tem que ser até muitas das vezes mais rigoroso. A falta ou escesso desses materiais muita das vezes são prejudiciais a empresa. Imagina-se comprar uma peça de 100000 reais errada 10 vezes ? ou precisa de uma 3 peças para executar uma atividade crítica e você só tem 1 ? Ou você compra uma peça de valor 200000 em emergência porque não tinha a peça em estoque sendo que o valor da mesma é de 50000 ? Essas são situações que não desejamos na industrias de jeito nenhum, porque isso gera perdas que as vezes são irreparáveis. Então oque precisamos para tentar amenizar esses problemas ? Será necessário criar um controle de estoque <p>
Um controle de estoque é uma ferramenta aonde um funcionário (Almoxarife) irá controlar, inspecionar e requistar todos os itens de um almoxarifado isso tudo de acordo com uma lista pré definida com quantidade de modelos de equipamentos. Para executarmos essa atividade é necessário um conhecimento básico sobre o almoxarifado em questão e realizar um banco de dados para sabermos quais equipamento iremos ter que ter estocados. <p> Em nosso projeto iremos construir um programa que irá realizar o armazenamento e controle de materias de um almoxarifado industrial, tal que poderemos ter um ganho de proatividade e tempo na execução do serviço e no planejamento do serviço.

<h2> Escopo </h2>

<b>1</b> - Aprender sobre manipulação de dados no python com excel <br>
<b>2</b> - Criação de um banco de dados mínimo e criação de um programa para manipualar essas variáveis <br>
<b>3</b> - Montagem do programa principal e do banco de dados principal <br>
<b>4</b> - Realizar testes funcionais simulados ( Incluir, apagar, pesquisar e outros ) <br>
<b>5</b> - Realizar testes reais <br>

<img src="http://www.indike.com.br/wp-content/uploads/2016/06/excel-logo.png"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg">

In [ ]:
!pip install xlrd
!pip install xlwt

In [ ]:
import xlrd
import xlwt

In [ ]:
book = xlrd.open_workbook("teste_1_rev1.xlsx")
sh = book.sheet_by_index(0)
print("Valor da célula é: ", sh.cell_value(rowx=0, colx=0))
sh1 = book.sheet_by_index(1)
print("Valor da célula é: ", sh1.cell_value(rowx=0, colx=0))
print("Valor da célula é: ", sh2.cell_value(rowx=0, colx=0))
sh3 = book.sheet_by_index(3)
print("Valor da célula é: ", sh3.cell_value(rowx=0, colx=0))

In [ ]:
!pip install openpyxl

In [ ]:
import openpyxl

In [ ]:
wb =openpyxl.load_workbook ('teste_1_rev1.xlsx')

In [ ]:
wb.get_sheet_names()

In [ ]:
sheet=wb.get_sheet_by_name('Parafusos Porcas Arruelas')

In [ ]:
print(sheet)

In [ ]:
sheet['A1'].value

In [ ]:
c = sheet['A1']

In [ ]:
"A celula A1 esta na linha " +str(c.row)+ " e coluna " +str(c.column)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
notas = pd.Series([2,7,5,10,6])

In [ ]:
notas

In [ ]:
notas.values

In [ ]:
notas.index

In [ ]:
notas = pd.Series([2,7,5,10,6], index=["Wilfred", "Abbie", "Harry", "Julia", "Carrie"])

In [ ]:
notas

In [ ]:
notas = pd.Series([2,7,5,10,6])
notas = pd.Series([2,7,5,10,6], index=["Wilfred", "Abbie", "Harry", "Julia", "Carrie"])
print("Media:", notas.mean())
print("Desvio Padrao: ", notas.std())

In [ ]:
notas.describe()

In [ ]:
notas**2

In [ ]:
notas*2

In [ ]:
np.log(notas)

In [ ]:
df=pd.DataFrame({'Aluno':['Wilfred','Abbie','Harry','Julia','Carrie'], 'Faltas' : [3,4,2,1,4], 'Prova' : [2,7,5,10,6], 'Seminario' :[8.5,7.5,9.0,7.5,8.0]})

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
df.columns

In [ ]:
df["Seminario"]

In [ ]:
df.describe()

In [ ]:
df.sort_values(by="Seminario")

In [ ]:
df.sort_values(by="Prova")

In [ ]:
df

In [ ]:
df.loc[3]

In [ ]:
df.loc[4]

In [ ]:
df[df["Seminario"] > 8]

In [ ]:
df[(df["Seminario"]>8) & (df["Prova"]>3)]

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_csv("dados.csv")

In [4]:
df

      condominio  quartos  suites  vagas  area    bairro    preco       pm2
0            350        1     0.0    1.0    21  Botafogo   340000  16190.48
1            800        1     0.0    1.0    64  Botafogo   770000  12031.25
2            674        1     0.0    1.0    61  Botafogo   600000   9836.07
3            700        1     1.0    1.0    70  Botafogo   700000  10000.00
4            440        1     0.0    1.0    44  Botafogo   515000  11704.55
5            917        1     1.0    1.0    60  Botafogo   630000  10500.00
6            850        1     1.0    1.0    65  Botafogo   740000  11384.62
7            350        1     1.0    1.0    43  Botafogo   570000  13255.81
8            440        1     1.0    1.0    26  Botafogo   430000  16538.46
9            510        1     1.0    1.0    42  Botafogo   500000  11904.76
10           200        1     0.0    1.0    35  Botafogo   500000  14285.71
11           552        1     1.0    1.0    67  Botafogo   790000  11791.04
12           495        1     1.0    1.0    54  Botafogo   515000   9537.04
13           340        1     1.0    1.0    40  Botafogo   410000  10250.00
14           800        1     1.0    1.0    60  Botafogo   625000  10416.67
15           530        1     0.0    1.0    40  Botafogo   360000   9000.00
16           500        1     0.0    1.0    47  Botafogo   670000  14255.32
17           600        1     1.0    1.0    45  Botafogo   500000  11111.11
18           465        1     0.0    1.0    50  Botafogo   570000  11400.00
19          1400        1     1.0    1.0    50  Botafogo   570000  11400.00
20           700        1     1.0    1.0    58  Botafogo   630000  10862.07
21           250        1     0.0    1.0    40  Botafogo   400000  10000.00
22          1000        1     1.0    1.0    54  Botafogo   750000  13888.89
23           280        1     0.0    1.0    65  Botafogo   578000   8892.31
24           481        1     1.0    1.0    28  Botafogo   350000  12500.00
25           150        1     0.0    1.0    40  Botafogo   130000   3250.00
26          1071        1     1.0    1.0    44  Botafogo   597000  13568.18
27           750        2     1.0    1.0    70  Botafogo   995000  14214.29
28           992        2     1.0    1.0   105  Botafogo  1150000  10952.38
29           990        2     1.0    1.0   100  Botafogo  1200000  12000.00
...          ...      ...     ...    ...   ...       ...      ...       ...
1967         600        3     1.0    1.0    99    Tijuca   780000   7878.79
1968         780        3     1.0    1.0   120    Tijuca   780000   6500.00
1969        1068        3     1.0    1.0    95    Tijuca   795000   8368.42
1970         900        3     1.0    1.0    92    Tijuca   680000   7391.30
1971         480        3     1.0    3.0   142    Tijuca   600000   4225.35
1972         588        3     1.0    1.0    98    Tijuca  1100000  11224.49
1973         210        3     1.0    1.0    95    Tijuca   440000   4631.58
1974        1370        3     1.0    2.0   130    Tijuca  1050000   8076.92
1975         500        3     1.0    1.0   102    Tijuca   955000   9362.75
1976         670        3     2.0    1.0   139    Tijuca   878000   6316.55
1977         730        3     0.0    1.0    90    Tijuca   550000   6111.11
1978        1000        3     1.0    2.0   125    Tijuca   825000   6600.00
1979        1050        3     1.0    2.0    95    Tijuca   899000   9463.16
1980        1100        3     1.0    2.0   110    Tijuca   850000   7727.27
1981         850        3     1.0    2.0   118    Tijuca   850000   7203.39
1982        1100        3     1.0    1.0   110    Tijuca   750000   6818.18
1983         950        3     1.0    1.0   105    Tijuca   730000   6952.38
1984         970        3     1.0    1.0   110    Tijuca   650000   5909.09
1985        1336        3     2.0    1.0   120    Tijuca   850000   7083.33
1986         900        3     1.0    1.0    90    Tijuca   860000   9555.56
1987         880        3     1.0    1.0   100    Tijuca   800000   8000.00
1988         870        3     1.0    1.0   100    Tijuca   580000   5800.00
1989         400        3     1.0    1.0    92    Tijuca   480000   5217.39
1990         686        3     0.0    1.0   105    Tijuca   490000   4666.67
1991         450        3     1.0    1.0    72    Tijuca   435000   6041.67
1992        1080        3     1.0    1.0    80    Tijuca   680000   8500.00
1993         750        3     0.0    1.0    82    Tijuca   650000   7926.83
1994         700        3     1.0    1.0   100    Tijuca   629900   6299.00
1995        1850        3     1.0    2.0   166    Tijuca  1600000   9638.55
1996         800        3     1.0    1.0   107    Tijuca   540000   5046.73

[1997 rows x 8 columns]

In [22]:
df.head()

   condominio  quartos  suites  vagas  area    bairro   preco       pm2
0         350        1     0.0    1.0    21  Botafogo  340000  16190.48
1         800        1     0.0    1.0    64  Botafogo  770000  12031.25
2         674        1     0.0    1.0    61  Botafogo  600000   9836.07
3         700        1     1.0    1.0    70  Botafogo  700000  10000.00
4         440        1     0.0    1.0    44  Botafogo  515000  11704.55

In [6]:
df.head(10)

   condominio  quartos  suites  vagas  area    bairro   preco       pm2
0         350        1     0.0    1.0    21  Botafogo  340000  16190.48
1         800        1     0.0    1.0    64  Botafogo  770000  12031.25
2         674        1     0.0    1.0    61  Botafogo  600000   9836.07
3         700        1     1.0    1.0    70  Botafogo  700000  10000.00
4         440        1     0.0    1.0    44  Botafogo  515000  11704.55
5         917        1     1.0    1.0    60  Botafogo  630000  10500.00
6         850        1     1.0    1.0    65  Botafogo  740000  11384.62
7         350        1     1.0    1.0    43  Botafogo  570000  13255.81
8         440        1     1.0    1.0    26  Botafogo  430000  16538.46
9         510        1     1.0    1.0    42  Botafogo  500000  11904.76

In [23]:
df.tail()

      condominio  quartos  suites  vagas  area  bairro    preco      pm2
1992        1080        3     1.0    1.0    80  Tijuca   680000  8500.00
1993         750        3     0.0    1.0    82  Tijuca   650000  7926.83
1994         700        3     1.0    1.0   100  Tijuca   629900  6299.00
1995        1850        3     1.0    2.0   166  Tijuca  1600000  9638.55
1996         800        3     1.0    1.0   107  Tijuca   540000  5046.73

In [8]:
df["bairro"].unique()

array(['Botafogo', 'Copacabana', 'Gávea', 'Grajaú', 'Ipanema', 'Leblon',
       'Tijuca'], dtype=object)

In [9]:
df["bairro"].value_counts()

Copacabana    346
Tijuca        341
Botafogo      307
Ipanema       281
Leblon        280
Grajaú        237
Gávea         205
Name: bairro, dtype: int64

In [12]:
df["bairro"].value_counts(normalize=True)

Copacabana    0.173260
Tijuca        0.170756
Botafogo      0.153731
Ipanema       0.140711
Leblon        0.140210
Grajaú        0.118678
Gávea         0.102654
Name: bairro, dtype: float64

In [11]:
df.groupby("bairro").mean()

,condominio,quartos,suites,vagas,area,preco,pm2
bairro,,,,,,,
Botafogo,914.475570,2.107492,1.048860,1.159609,83.837134,1.010614e+06,12034.486189
Copacabana,991.861272,2.101156,1.034682,1.080925,101.855491,1.216344e+06,11965.298699
Grajaú,619.940928,2.097046,0.970464,1.130802,79.949367,4.788869e+05,6145.624473
Gávea,985.234146,2.058537,1.029268,1.200000,88.497561,1.454571e+06,16511.582780
Ipanema,1357.120996,2.181495,1.192171,1.220641,100.615658,2.033096e+06,19738.407794
Leblon,1260.010714,2.207143,1.064286,1.164286,91.832143,1.946193e+06,20761.351036
Tijuca,681.175953,2.131965,0.944282,1.143695,81.457478,5.750780e+05,7149.804985

In [14]:
df.groupby("bairro").mean()["pm2"].sort_values()

bairro
Grajaú         6145.624473
Tijuca         7149.804985
Copacabana    11965.298699
Botafogo      12034.486189
Gávea         16511.582780
Ipanema       19738.407794
Leblon        20761.351036
Name: pm2, dtype: float64

In [18]:
def truncar(bairro):
    return bairro[:3]

df["bairro"].apply(truncar)

0       Bot
1       Bot
2       Bot
3       Bot
4       Bot
5       Bot
6       Bot
7       Bot
8       Bot
9       Bot
10      Bot
11      Bot
12      Bot
13      Bot
14      Bot
15      Bot
16      Bot
17      Bot
18      Bot
19      Bot
20      Bot
21      Bot
22      Bot
23      Bot
24      Bot
25      Bot
26      Bot
27      Bot
28      Bot
29      Bot
       ...
1967    Tij
1968    Tij
1969    Tij
1970    Tij
1971    Tij
1972    Tij
1973    Tij
1974    Tij
1975    Tij
1976    Tij
1977    Tij
1978    Tij
1979    Tij
1980    Tij
1981    Tij
1982    Tij
1983    Tij
1984    Tij
1985    Tij
1986    Tij
1987    Tij
1988    Tij
1989    Tij
1990    Tij
1991    Tij
1992    Tij
1993    Tij
1994    Tij
1995    Tij
1996    Tij
Name: bairro, Length: 1997, dtype: object

In [20]:
df["bairro"].apply(lambda x: x[:3])

0       Bot
1       Bot
2       Bot
3       Bot
4       Bot
5       Bot
6       Bot
7       Bot
8       Bot
9       Bot
10      Bot
11      Bot
12      Bot
13      Bot
14      Bot
15      Bot
16      Bot
17      Bot
18      Bot
19      Bot
20      Bot
21      Bot
22      Bot
23      Bot
24      Bot
25      Bot
26      Bot
27      Bot
28      Bot
29      Bot
       ...
1967    Tij
1968    Tij
1969    Tij
1970    Tij
1971    Tij
1972    Tij
1973    Tij
1974    Tij
1975    Tij
1976    Tij
1977    Tij
1978    Tij
1979    Tij
1980    Tij
1981    Tij
1982    Tij
1983    Tij
1984    Tij
1985    Tij
1986    Tij
1987    Tij
1988    Tij
1989    Tij
1990    Tij
1991    Tij
1992    Tij
1993    Tij
1994    Tij
1995    Tij
1996    Tij
Name: bairro, Length: 1997, dtype: object

In [24]:
print("Deseja armazenar ?")
print("Tipo 1")
print("Tipo 2")
tipo = int(input("Informe a opção: "))
if(tipo == 1):nome='teste'

Deseja armazenar ?
Tipo 1
Tipo 2
Informe a opção: 1